/*===================== Header =====================*/
.header{
    background: $white;
    height: rem(80px);
    @include shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.2));
    margin-bottom: rem(30px);
    
    .container{
        @extend %clearfix;
    }

    @include phones{
        height: auto;        
    }
}

.header__left, .header__right{
    width: 50%;
    @include phones{
        padding: 10px 0;
    }
}
.header__left{
    float: left;
}
.header__right{
    float: right;
    text-align: right;
}

.user__img, .user__name{
    @include inlineblock(middle);
}
.user__name{

    @include phones{
        max-width: 93px;   
    }
}
.user{
    padding-top: rem(10px); 

    @include phones{
        padding: 0;
    }
}
.user__img{
    width: rem(60px);
    height: rem(60px);
    border: 2px solid #bebebe;
    border-radius: 50%;
    overflow: hidden;
}
.user__avatar{
    max-width: 100%;
    max-height: 100%;
}

.contacts{
    padding-top: rem(25px);
    display: inline-block;
    position: relative;

    &:hover{
        .contacts__link{
            color: $red;
            background: url(../img/decor/dot-hover.png) 0 bottom repeat-x;
        }
        .contacts__dropdown{
            right: 86%;
        }
        .phone__icon{
            color: $red;
        }
        .contacts__phone-show{
            .contacts__dropdown{
                right: 0;
            }
        }
    }

    @include phones{
        padding: 7px 0 0 0;
    }
}

.contacts__tabl-up-show{
    display: block;

    @include phones{
        display: none;
    }
}
.contacts__link{
    @include fira(bold);
    text-decoration: none;
    color: $blue;
    @include inlineblock();
    background: url(../img/decor/dot.png) 0 bottom repeat-x;
    @include transition(.2s linear);
}

.contacts__dropdown{
    width: rem(220px);
    background: $white;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: rem(10px);
    text-align: left;
    position: absolute;
    top: 100%;
    right: 199999px;
    @include transform(translate(50%, 0));
    margin-top: rem(15px);
    z-index: 2;

    &:before{
        content: "";
        display: block;
        width: 100%;
        height: rem(20px);
        position: absolute;
        bottom: 100%;
        left: 0;
    }
    .contacts__dropdown-item{
        &:first-child{
            &:before{
                content: "";
                border: 10px solid transparent;
                border-top-color: #dedede;
                border-bottom-width: 0;
                position: absolute;
                bottom: 100%;
                left: 87%;
                @include transform(translate(-50%, 0) rotate(180deg));
            }
        
            &:after{
                content: "";
                border: 8px solid transparent;
                border-top-color: $white;
                border-bottom-width: 0;
                position: absolute;
                bottom: 100%;
                left: 87%;
                @include transform(translate(-50%, 0) rotate(180deg));
            }
        }
        &:last-child{
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    @include tablet{
        padding: 0;
    }
    @include phones{
        padding: 0;
    }
}
.contacts__dropdown-item{
    margin-bottom: rem(10px);

    &:hover{
        .dropdown__link-text, .dropdown__link-icon{
            color: $red;
        }
    }

    @include tablet{
        padding: rem(7px) rem(20px);
        border-bottom: 1px solid #dedede;    
    }
    @include phones{
        padding: rem(7px) rem(20px);
        border-bottom: 1px solid #dedede;
    }
}
.dropdown__link{
    @include fira(light);
    color: $black;
    font-size: rem(18px);
    text-decoration: none;
}
.dropdown__link-icon, .dropdown__link-text{
    @include inlineblock(middle);
    @include transition( color .2s linear);
}
.dropdown__link-icon{
    margin-right: rem(10px);
    color: $blue;
}
.dropdown__link-text{
    min-width: rem(130px);
    padding: 0 0 rem(2px) 0;
}

.contacts__phone-show{
    display: none;

    @include phones{
        display: block;
    }
}

.contacts__phone-show{
    .contacts__dropdown{
        @include transform(translate(0, 0))
    }
    
}

.phone__icon{
    display: block;
    @include transform(rotate(95deg));
    color: $blue;
    text-decoration: none;
}
